// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #1f2b39 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #434343 !default;
$body-text-color: #66696e !default;
$body-link-color: #3b7ab7 !default;
$blockquote-text-color: #819198 !default;
$secondary-text-color: #b6d7e0;
$main-font: 'Montserrat', sans-serif !default;
$bold: 700 !default;
$semi-bold: 600 !default;
$medium: 500 !default;
$regular: 400 !default;
$light: 300 !default;
// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
