<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    {% if page.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119570773-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119570773-1');
    </script> {% endif %}
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <section class="page-header" style="background-image: url('./assets/img/header.png')">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <img id="header-logo" src="./assets/img/JSGLogo.png" alt="">
    </section>


    <section class="main-content">
        {{ content }} {% if page.recent-blog-posts %}
        <section class="recent-blog-posts">
            <h1>Recent blog posts</h1>
            <div class="blog-posts">

                <div class="blog-post">
                    <img src="https://delivery.eusi.cloud/api/v1/f1a4305c-e431-4668-ae4c-02f78c656a41/media/s3/1531231549769_JSG-Content-Blog-Cover.png"
                        alt="Powerful Content">
                    <div class="blog-content">
                        <a href="https://jsguru.io/blog/Increase-Your-Brand-Value-By-Producing-Powerful-Content">
                            <h4>Increase Your Brand Value By Producing Powerful Content
                            </h4>
                        </a>
                    </div>
                </div>

                <div class="blog-post">
                    <img src="https://delivery.eusi.cloud/api/v1/f1a4305c-e431-4668-ae4c-02f78c656a41/media/s3/1530179495083_JSG-PWA-Cover.png"
                        alt="Progressive Web App">
                    <div class="blog-content">
                        <a href="https://jsguru.io/blog/Why-Your-Business-Needs-a-Progressive-Web-App">
                            <h4>Why Your Business Needs a Progressive Web App
                            </h4>
                        </a>
                    </div>
                </div>

                <div class="blog-post">
                    <img src="https://delivery.eusi.cloud/api/v1/f1a4305c-e431-4668-ae4c-02f78c656a41/media/s3/1529255669352_mobile_guardian_cover_2.png"
                        alt="Mobile Guardian">
                    <div class="blog-content">
                        <a href="https://jsguru.io/blog/Let-s-talk-about-our-clients---Mobile-Guardian">
                            <h4>Let's talk about our clients - Mobile Guardian
                            </h4>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        {% endif %} {% if page.recent-talks %}
        <section class="recent-blog-posts">
            <h1>JSGuru Talks</h1>
            <p>Every second Friday JSGuru team holds talks that cover various IT topics. We have a GitHub repo with code samples
                from some of them.</p>

            <div class="blog-posts">

                <div class="blog-post">
                    <iframe src="https://www.youtube.com/embed/YugQiK1QvlY" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                    <div class="blog-content">
                        <a href="https://www.youtube.com/watch?v=YugQiK1QvlY&t=603s">
                            <h4>Kanban
                            </h4>
                        </a>
                    </div>
                </div>

                <div class="blog-post">
                    <iframe src="https://www.youtube.com/embed/g9rDGruTcVE" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                    <div class="blog-content">
                        <a href="https://www.youtube.com/watch?v=g9rDGruTcVE">
                            <h4>Design
                            </h4>
                        </a>
                    </div>
                </div>

                <div class="blog-post">
                    <iframe src="https://www.youtube.com/embed/84v-uBqmqHQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <div class="blog-content">
                        <a href="https://www.youtube.com/watch?v=84v-uBqmqHQ">
                            <h4>Machine learning
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner">
                <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by
                <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by
                <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
    </section>


</body>

</html>